<?php
/**
 * Troubleshooter PagSeguro Api Payment Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Troubleshooter
 * @package    Troubleshooter_PagSeguroApi
 * @copyright  Copyright (c) 2013 Troubleshooter (www.troubleshooter.com.br)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Italo A.G. <italoag@troubleshooter.com.br>
 */
?>

<p><strong><?php echo $this->getMethod()->getTitle() ?></strong></p>

<?php if ($this->getShowInfo()): ?>
    <br/>
    <ul class="pagseguro-infos">
        <li><label><strong><?php echo $this->__('Transaction ID')?></strong></label></li>
        <li><?php echo $this->getPagseguroInfo()->getPagseguroTransactionId() ?></li>

        <li><label><strong><?php echo $this->__('Transaction Date')?></strong></label></li>
        <li><?php echo Mage::getModel('core/date')->date('d/m/Y H:i:s', $this->getPagseguroInfo()->getPagseguroTransactionDate()) ?></li>

        <li><label><strong><?php echo $this->__('Payment Method')?></strong></label></li>
        <li>
            <?php if($this->getTransactionPaymentMethodTypeLabel()):?>
            <?php echo $this->__('%s (%s)', $this->getTransactionPaymentMethodTypeLabel(), $this->getTransactionPaymentMethodCodeLabel()) ?>
            <?php endif;?>
        </li>

        <li><label><strong><?php echo $this->__('Payment Status')?></strong></label></li>
        <li>
        <?php if($this->isPaid()):?>
            <?php echo $this->__('The payment was successfully registered in PagSeguro.') ?>
        <?php else:?>
            <span><?php echo $this->__('The status of the order is <b><i>%s</i></b> in PagSeguro.', $this->getTransactionStatusLabel()) ?></span><br/>
            <?php if($this->getShowPayBilletUrl()):?>
            <?php echo $this->__('By clicking <a href="%s" target="_blank">here</a> you can generate the billet againg for the customer.', $this->getBilletPayUrl())?>
            <?php endif;?>
            <?php if ($this->getShowPaylink()): ?>
            <?php echo $this->__('By clicking <a href="%s" target="_blank">here</a> you can help the customer to pay his order.', $this->getPayUrl())?></p>
            <?php endif; ?>
        <?php endif;?>
        </li>
    </ul>
    <br/>
<?php endif; ?>