<?php
/**
 * Troubleshooter PagSeguro Api Payment Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Troubleshooter
 * @package    Troubleshooter_PagSeguroApi
 * @copyright  Copyright (c) 2013 Troubleshooter (www.troubleshooter.com.br)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Italo A.G. <italoag@troubleshooter.com.br>
 */
?>
<?php
	$quote = $this->getQuote();
	$grandTotal = $quote->getGrandTotal();
?>
<div class="pagseguroapi-installments">
	<!--<p><?php echo $this->__('Billet')?></p>-->
	<ul class="payment-method-list billet-list">
		<li class="payment-item">
			<a href="javascript:void(0);" class="payment-link-flag billet" title="">Boletos</a>
		</li>
	</ul>
	<!--<p><?php echo $this->__('Online Debit')?></p>-->
	<ul class="payment-method-list bank-list">
		<li class="payment-item">
			<a href="javascript:void(0);" class="payment-link-flag bradesco" title="">Bradesco</a>
		</li>
		<li class="payment-item">
			<a href="javascript:void(0);" class="payment-link-flag itau" title="">Itaú</a>
		</li>
		<li class="payment-item">
			<a href="javascript:void(0);" class="payment-link-flag hsbc" title="">HSBC</a>
		</li>
		<li class="payment-item">
			<a href="javascript:void(0);" class="payment-link-flag bb" title="">Banco do Brasil</a>
		</li>
	</ul>
	<!--<p><?php echo $this->__('Credit Cards')?></p>-->
	<ul class="payment-method-list creditcard-list">
	<?php foreach($this->getCreditCards() as $code => $attributes):?>
		<?php if($attributes['active']):?>
		<li class="payment-item creditcard-item <?php echo $code?>">
			<a id="creditcard-<?php echo $code?>" href="javascript:void(0);" class="payment-link-flag creditcard-link-flag <?php echo $code?>" title="<?php echo $attributes['label']?>"><?php echo $attributes['label']?></a>
		</li>
		<?php endif;?>
	<?php endforeach;?>
	</ul>
	<?php if($this->showInstallments()):?>
	<div class="installment-table-container" style="display:block;">
		<p><?php echo $this->__('Take a look at the installments simulator for credit cards.')?></p>
		<table class="installment-table">
			<colgroup>
				<col width="150"/>
				<col width="120"/>
				<col width="150"/>
			</colgroup>
			<thead>
				<th class="grandtotal"><strong><?php echo $this->__('Grand Total')?></strong></th>
				<th class="qty"><strong><?php echo $this->__('Installment Qty.')?></strong></th>
				<th class="totalvalue"><strong><?php echo $this->__('Final Value')?></strong></th>
			</thead>
			<tbody>
				<?php $y = 1; ?>
				<?php foreach($this->getFactors() as $key => $factor):?>
				<?php
					$min = (float) Mage::getStoreConfig('troubleshooter_pagseguroapi/transaction/installments/min');
					if(!$min) {
						$min = 5;
					}
					if(($grandTotal * $factor) < $min) {
						break;
					}
				?>
				<tr>
					<td class="grandtotal"><?php echo Mage::helper('core')->currency($grandTotal); ?></td>
					<td class="qty"><?php echo $this->__('%s time(s)', $y) ?></td>
					<td class="totalvalue"><?php echo Mage::helper('core')->currency($grandTotal * $factor)?></td>
				</tr>
				<?php $y++; ?>
				<?php endforeach;?>
			</tbody>
		</table>
	</div>
	<?php endif;?>
</div>