<?php
/**
 * Troubleshooter PagSeguro Api Payment Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Troubleshooter
 * @package    Troubleshooter_PagSeguroApi
 * @copyright  Copyright (c) 2013 Troubleshooter (www.troubleshooter.com.br)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Italo A.G. <italoag@troubleshooter.com.br>
 */
?>
<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode(); ?>" class="pagseguroapi-payment-method" style="display:none;">
        <?php if ($this->getShowMessage()): ?>
        <li><?php echo $this->getMessage(); ?></li>
        <?php endif; ?>
        <!--<li><img src="<?php echo $this->getSkinUrl('images/pagseguroapi/logo-pagseguro.gif')?>"/></li>-->
        <li><?php echo $this->getLayout()->createBlock('pagseguroapi/api_installments')->toHtml();?></li>
    </ul>
</fieldset>