<?php
/**
 * Troubleshooter PagSeguro Api Payment Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Troubleshooter
 * @package    Troubleshooter_PagSeguroApi
 * @copyright  Copyright (c) 2013 Troubleshooter (www.troubleshooter.com.br)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Italo A.G. <italoag@troubleshooter.com.br>
 */
?>
<?php

    $transaction = $this->getPagseguroTransaction();

?>
<?php if((Mage::helper('pagseguroapi')->openPagSeguroInOtherPage() && $this->getPagseguroPaymentUrl())):?>
<script type="text/javascript">
    void(open('<?php echo $this->getPagseguroPaymentUrl()?>','_blank','resizable,location,menubar,toolbar,scrollbars,status'));
</script>
<?php endif;?>

<div class="page-title">
    <h1><?php echo $this->__('Your order has been received.') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<h2 class="sub-title"><?php echo $this->__('Thank you for your purchase!') ?></h2>

<?php if ($this->getOrderId()):?>
<?php if ($this->getCanViewOrder()) :?>
    <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
<?php  else :?>
    <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></p>
<?php endif;?>

<?php if($transaction && $transaction->getPagseguroTransactionId()): ?>
    <p><?php echo $this->__('The transaction ID for your order in PagSeguro is: %s.', $transaction->getPagseguroTransactionId())?></p>
<?php endif;?>

<?php if($this->getPagseguroPaymentUrl()):?>
    <p><?php echo $this->__('Click <a href="%s" target="_blank">here</a> to pay your order.', $this->getPagseguroPaymentUrl())?></p>
<?php endif;?>

    <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
<?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
    <p>
        <?php echo $this->__('Click <a href="%s" onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.', $this->getPrintUrl()) ?>
        <?php echo $this->getChildHtml() ?>
    </p>
<?php endif;?>
<?php endif;?>

<div class="buttons-set">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>
